* {
  margin: 0;
  padding: 0;
}
.App {
  width: 100vw;
  height: 100vh;
  background-image: url("../public/bg.webp");
  position: absolute;
}

.priceBar {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
}
.tokenBar {
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content: center;
}
.gasBar {
  width: 40%;
  display: flex;
  justify-content: center;
}
.itemBar {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.Header {
  margin: 20px auto 0 auto;
  background-color: white;
  font-size: 36pt;
  text-align: center;
  width: 75vw;
  position: relative;
}

.TokenPrice {
  background-color: white;
  font-size: 18pt;
  text-align: center;
  width: 15vw;
  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.GasPrice {
  background-color: white;
  font-size: 18pt;
  text-align: center;
  width: 15vw;
  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .content {
    width: 100%;
    justify-content: center;
  }
}
.gasDisplay {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.Item {
  background-color: white;
  font-size: 18pt;
  text-align: center;
  width: 15vw;
  height: 32vh;
}
